{% extends "base.html" %} 
{% load static %} 
{% block content %}
<section class="pb_section mt-4" id="section-about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5">
        <div class="row">
          <div class="col">
            <p><img src={%static 'img_1.jpg' %} alt="Instant Image" class="img-fluid" /></p>
          </div>
          <div class="col">
            <p><img src={%static 'img_2.jpg' %} alt="Instant Image" class="img-fluid" /></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 pl-lg-5 pl-lg-0">
        <h2 class="mb-4 text-uppercase pb_letter-spacing-2">The Restaurant</h2>
        <p>
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts. Separated they
          live in Bookmarksgrove right at the coast of the Semantics, a large
          language ocean.
        </p>
        <p>
          A small river named Duden flows by their place and supplies it with
          the necessary regelialia.
        </p>
        <p>
          <a
            href="#section-menu"
            class="smoothscroll text-danger text-uppercase"
            >See our menu <i class="ion-arrow-down-c"></i
          ></a>
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
